<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random Password Generator</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <script src="https://kit.fontawesome.com/ed363d82ac.js" crossorigin="anonymous"></script>
</head>

<body>

  <nav class="navbar navbar-dark bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Random Password Generator</a>
    </div>
  </nav>
  
  {{{body}}}

  <script src="/javascripts/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/validator.js"></script>
</body>

</html>