<section class="bg-dark d-flex align-items-center generator-section">
  <div class="bg-light mx-auto generator-container">
    <div class="card">
      <div class="card-body">
        <div class="card-title fs-5">Random Password Generator</div>
        <hr>

        <form action="/generated" id="generator-form">

          <div class="row mb-3">
            <label for="password-length" class="col-sm-4 col-form-label">Password Length</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" id="password-length" name="passwordLength">
              <p class="text-secondary input-hint">Length is available between 4 ~ 16</p>
            </div>
          </div>
          <div class="row mb-3">
            <p class="col-sm-4 col-form-label">Include Lowercase Characters</label>
            <div class="col-sm-8 d-flex align-items-center">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="hasLowercase" value="selected" id="include-lowercase-characters">
                <label class="form-check-label" for="include-lowercase-characters">
                  (e.g. abcdefg)
                </label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <p class="col-sm-4 col-form-label">Include Uppercase Characters</label>
            <div class="col-sm-8 d-flex align-items-center">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="hasUppercase" value="selected" id="include-uppercase-characters">
                <label class="form-check-label" for="include-uppercase-characters">
                  (e.g. ABCDEFG)
                </label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <p class="col-sm-4 col-form-label">Include Numbers</label>
            <div class="col-sm-8 d-flex align-items-center">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="hasNumbers" value="selected" id="include-numbers">
                <label class="form-check-label" for="include-numbers">
                  (e.g. 123456)
                </label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <p class="col-sm-4 col-form-label">Include Symbols</label>
            <div class="col-sm-8 d-flex align-items-center">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="hasSymbols" value="selected" id="include-symbols">
                <label class="form-check-label" for="include-symbols">
                  (e.g. @#$%)
                </label>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="exclude-characters" class="col-sm-4 col-form-label">Exclude Characters</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="exclude-characters" name="excludeCharacters">
              <p class="text-secondary input-hint">These characters will not appear in the password</p>
            </div>
          </div>
          <div class="row d-flex mb-3" id="generated-password">
            {{!-- message will appear at page 'generated.hbs' --}}
          </div>
          <button type="submit" class="btn btn-success">Generate Password</button>

        </form>

      </div>
    </div>
  </div>
</section>